.container{
	margin: 2% 20% 0 20%;
	border: 3px solid black; 
	min-height: 500px;
	background-color: #fff
}
.title{
	padding-bottom: 20px;
	overflow: hidden;
	border-bottom: 1px solid #f1f1f1;

	background-color: #eeeeee;

}
.thumbnail{
margin: 15px;
padding: 15px;

}
.thumbnail img{
	float: left;
	border: solid 3px #ff0000;
	height: 280px;
	width: 60%;
}
.name-price{
	
	width: 25%;
	float: left;
}
.name{
	 font-weight: normal;
	line-height: 100%;
	font-size: 20px; 
	margin: 0 15px;
	 padding: 0px; 
	line-height: 1.3em; 
	font-weight: bold;
}
.price{
	float: left;
	font-size: 15px;
	margin-left: 15px;
}
.description{
	margin: 15px 5px 0px 5px;
	padding: 15px;
    text-align: center;
    overflow-x: auto;

}
.buy{

}
.select{
	display: block;
    margin: 12px 10px 15px;
    background-color: #cf2127;
    color: #fff;
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 4px;
}